### Maven ###
target/
.mvn/wrapper/maven-wrapper.jar

### Eclipse ###
.apt_generated/
.classpath
.factorypath
.project
.settings/

### Spring Tool Suite ###
.springBeans
.sts4-cache/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Java ###
*.class

### Logs ###
*.log

### OS ###
.DS_Store
Thumbs.db

### Environment ###
.env
.env.*
!.env.example